# DIY - Exercises


* Do it Yourself Exercises through the course

## Section 3 - DataFrames and RDDs

1. Query name, state, status

2. Query clients with status "platinum" and "gold"

3. Query sales amount per client status

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("diy_section_3").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/15 08:35:43 WARN Utils: Your hostname, WIN-NJTBBD8GS0T, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/09/15 08:35:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/15 08:35:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
clients = spark.read.parquet("/home/ubuntu/obenkyo/raw_data/spark_course_udemy/Atividades/Clientes.parquet")

In [ ]:
clients.select("Cliente", "Estado", "Status").show(10)

+--------------------+------+--------+
|             Cliente|Estado|  Status|
+--------------------+------+--------+
|Adelina Buenaventura|    RJ|  Silver|
|        Adelino Gago|    RJ|  Silver|
|     Adolfo Patrício|    PE|  Silver|
|    Adriana Guedelha|    RO|Platinum|
|       Adélio Lisboa|    SE|  Silver|
|       Adérito Bahía|    MA|  Silver|
|       Aida Dorneles|    RN|  Silver|
|   Alarico Quinterno|    AC|  Silver|
|    Alberto Cezimbra|    AM|  Silver|
|    Alberto Monsanto|    RN|    Gold|
+--------------------+------+--------+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import col

(
    clients
    .filter(col("Status").isin("Platinum", "Gold"))
    .orderBy(col("Status"), col("ClienteID").desc())
    .show()
)

+---------+-------------------+------+------+--------+
|ClienteID|            Cliente|Estado|Genero|  Status|
+---------+-------------------+------+------+--------+
|      237|  Iracema Rodríguez|    BA|     F|    Gold|
|      220|Honorina Villaverde|    PE|     F|    Gold|
|      166|   Firmino Meireles|    AM|     M|    Gold|
|      121|    Dionísio Saltão|    PR|     M|    Gold|
|       83|      Cláudio Jorge|    TO|     M|    Gold|
|       68|      Carminda Dias|    AM|     F|    Gold|
|       49|      Bento Quintão|    SP|     M|    Gold|
|       28|      Anna Carvajal|    RS|     F|    Gold|
|       10|   Alberto Monsanto|    RN|     M|    Gold|
|      247|         Joana Ataí|    GO|     F|Platinum|
|      230|    Ibijara Botelho|    RR|     F|Platinum|
|      170|      Flor Vilanova|    CE|     M|Platinum|
|        4|   Adriana Guedelha|    RO|     F|Platinum|
+---------+-------------------+------+------+--------+

In [37]:
from pyspark.sql import functions as Func

(
    clients
    .select("*")
    .where((Func.col("Status") == "Gold") | (Func.col("Status") == "Platinum"))
    .show()
)

+---------+-------------------+------+------+--------+
|ClienteID|            Cliente|Estado|Genero|  Status|
+---------+-------------------+------+------+--------+
|        4|   Adriana Guedelha|    RO|     F|Platinum|
|       10|   Alberto Monsanto|    RN|     M|    Gold|
|       28|      Anna Carvajal|    RS|     F|    Gold|
|       49|      Bento Quintão|    SP|     M|    Gold|
|       68|      Carminda Dias|    AM|     F|    Gold|
|       83|      Cláudio Jorge|    TO|     M|    Gold|
|      121|    Dionísio Saltão|    PR|     M|    Gold|
|      166|   Firmino Meireles|    AM|     M|    Gold|
|      170|      Flor Vilanova|    CE|     M|Platinum|
|      220|Honorina Villaverde|    PE|     F|    Gold|
|      230|    Ibijara Botelho|    RR|     F|Platinum|
|      237|  Iracema Rodríguez|    BA|     F|    Gold|
|      247|         Joana Ataí|    GO|     F|Platinum|
+---------+-------------------+------+------+--------+

In [20]:
sales = spark.read.parquet("/home/ubuntu/obenkyo/raw_data/spark_course_udemy/Atividades/Vendas.parquet")

In [ ]:
client

In [38]:
from pyspark.sql.functions import sum as _sum

sales.join(clients, on=["ClienteID"], how="inner").groupBy("Status").agg(_sum("Total")).show()

+--------+------------------+
|  Status|        sum(Total)|
+--------+------------------+
|Platinum|          12584.68|
|  Silver|        3014291.36|
|    Gold|27286.690000000002|
+--------+------------------+